html{
    background-color: rgb(1, 1, 48);
}

#inputID{
    margin: 0 auto;
    width: 250px;
    position: relative;
    top: 100px;
    display:block;
}

#patientID, #PasswordPatient {
    width: 200px;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: snow;
    background-color: rgba(2, 2, 68, 0.521);
    border-width: 2px;
    border-color: snow;
    position: inherit;
}

#patientName {
    width: 150px;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: snow;
    background-color: rgba(2, 2, 68, 0.521);
    border-width: 2px;
    border-color: snow;
    position: inherit;
}

#addUser{
    width: 40px;
    height: 36px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: snow;
    background-color: rgba(2, 2, 68, 0.521);
    border-width: 2px;
    border-color: snow;
    position: inherit;
}