<html>
    <body>
        <h3 id="inputedPatientsID" [innerHTML]=patient.pName></h3>
        <table id="table">
            <tr id="headerRow">
                <th id="startDateHeader">Start Date</th>
                <th id="endDateHeader">End Date</th>
                <th id="cityHeader">City</th>
                <th id="locationHeader">Location</th>
                <th></th>
            </tr>
            <tr id="rowOfPathData">
                <td><input id="startDate" #startDate class="input" type="datetime-local" [(ngModel)]="path.startDate"></td>
                <td><input id="endDate" #endDate class="input" type="datetime-local" [(ngModel)]="path.endDate"></td>
                <td><input id="city" #city class="input" type="text" [(ngModel)]="path.city"></td>
                <td><input id="location" #location class="input" type="text" [(ngModel)]="path.locationC"></td>
                <td class="button"><input id="addNewRow" type="button" value="Add" (click)="addANewObjectToPatientPathArray()""></td>
            </tr>
        </table>
        <input id="switchPatient" type="button" value="Switch Patient" (click)="switchPatient()">
    </body>
</html>